body {
  margin: 0rem;  
  padding: 0rem;
  border:0rem;
  background-color: aliceblue;    
}

.navbar.navbar-expand-lg.bg-primary {
  background-color:teal !important;
}

.bodyerror { 
  margin: 0rem;  
  padding: 0rem;
  border:0rem;  
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

#Errorpage {
  background-color: rgb(250,250,250);    
  border-style: ridge;    
  height: 49rem;
  padding-top: 4rem;  
}

#Normalpage {
  background-color: rgb(255, 255, 255);    
  border-style: ridge;    
  height: 49rem;
  padding-top: 3rem;  
}

#Encabezado {
  background-color: rgba(230, 176, 220);
  height: 4rem;
}
 
#Principal {
  background-color: rgb(230, 176, 220);  
  background-image: url('/sis_seguros_aj/assets/companias-argentina.jpg');
  border-style: ridge;    
  height: 49rem;
  padding-top: 4rem;    
  opacity: 0.2;
}


i.fa-solid.fa-house {
    color: black
}

i.fa-solid.fa-house:hover{
    color:white;
}

/*Tablas - Grid*/
thead {
  background-color :grey;
  color: white  
}
/*
tbody tr:nth-child(even)
{
  background: cornsilk;
}
*/

.navbar.navbar-expand-lg.bg-primary {
  background-color:rgb(128, 0, 105) !important;
}

.modal-backdrop {
  position:unset !important;
}

i.fa-brands, i.fa-solid  {
  color: black;
}
  
.list-group-item {
  background-color:rgb(128, 0, 105) !important;
  
} 

.container-fluid {  
  padding: 0rem;    
  border-radius: 0.5rem;  
  border: 1px solid rgb(149, 175, 233);
}


 #titulo {
  text-align: center;    
  padding-left: 2rem;
  margin-top: 8rem;    
  margin-bottom: 2rem;
}

.labeltitulo {
  text-align: center;
  font-size:large;
  font-weight: bold;    
  /*margin-bottom: 2rem;*/
}

.responsive {
  max-width: 100%;
  height: auto;
}

#logo {
  padding-left: 1rem;
}

.avatar {  
  padding-top: 0.2rem;  
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.avatarito {  
  margin-left: 10vw;  
  vertical-align: middle;
  width: 5vw;
  height: 5vw;
  border-radius: 10%;
}

.img-thumbnail {
  border-color: darkgray;
}

.pie {    
  bottom: 0;  
  padding-top: 10px;
  padding-bottom: 10px;
  height: 60px;
  width: 100%;
  /*font-family:'GothamRounded', sans-serif;*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200px;
  /*font-size: 20px;*/
  font-size: 0.5rem;
  line-height: 100%;
  text-align: center;
  color:white;
  background-color:rgb(129, 131, 131) !important;    
}

.row {  
  padding:0px; 
  margin: 0px;
}
   
.dropdown{
  padding-left: 0.5rem;      
}

.figure-caption {
  font-size: medium;
  font-weight: 800;
  color:#000000;
}

@media all and (max-width: 840px) {
  a.menu{
      padding-top:55%;
  }
  #Normalpage{
    padding-top:10rem;
  }
}
 
@media all and (max-width: 520px) {
  #Banner{
      padding-top:55%;
  }
  #Normalpage{
    padding-top:13rem;
  }

  #titulo{
    padding-top:15%;
}
}


.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }


/* From uiverse.io by @alexroumi */
#pills-consulta-tab,
#pills-alta-tab {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 #pills-consulta-tab::before,
 #pills-alta-tab::before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: rgb(128, 0, 105) !important;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgb(128, 0, 105) !important;
  box-shadow: 4px 8px 19px -3px rgb(128, 0, 105) !important;
  transition: all 250ms
 }
 
 #pills-consulta-tab:hover,
 #pills-alta-tab:hover {
  color: #e8e8e8;
 }
 
 #pills-consulta-tab:hover::before,
 #pills-alta-tab:hover::before {
  width: 100%;
 }

 